.photo {
 width: 200px;
 height: 300px;
}

.quote {
  font-size: 30px;
  font-family: 'Coming Soon', bold;

}
.header {
  text-align: center;
  padding: 50px;
  font-size: 50px;
  font-family: "Rock Salt";
  color: rgb(249, 70, 4);
}
.character {
  font-size: 40px;
  font-family: "Rock Salt";
}
.simpsonfamily {
  text-align: center;
}
.button {
  font-size: 30px;
  font-family: 'Coming Soon', bold;
  color: black;
}
.allpage {
  background-color: rgb(176, 230, 83);
  background-size: cover;
  background-repeat:   no-repeat;
}